<div class="container">
  <h1>Decks on Decks</h1>
  <p>Sorry for this unordered list</a>
  <ul>
    <% @decks.each do |deck| %>
      <li><a href="/decks/<%= deck.id %>"><%= deck.name %></a></li>
    <% end %>
  </ul>
</div>
