<h1><%=@deck.category%></h1>
<a href="/decks/<%=@deck.id%>/cards/1">Start Studying! (Fucking Nerdlet.)</a>
<button type="submit" formaction="/decks/<%=@deck.id%>/cards/1">Start Studying! (Fucking Nerdlet.)</button>
<button type="button" formaction="/decks">Choose another Deck</button>
