<h1><%=@deck.name%></h1>
<button type="submit" formaction="/decks/<%=@deck.id%>/cards">Start Studying! (Fucking Nerdlet.)</button>
<button type="button" formaction="/decks">Choose another Deck</button>
